--------------------------
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Great Bands and Music Players</title>
</head>
<body>

    //labeling the index and element with the struct keys to return data
    {{range .Name}}
    {{uc .name}}
    {{end}}

    {{range .Name}}
    {{ft .Name}}
    {{end}}

</body>
</html>