<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
{{if .Style}}
<h3>{{.Style}}</h3>
{{else}}
{{end}}
</body>
</html>