{{/* 1. Using the data structure created in the previous folder, modify it to hold menu information for an unlimited number of restaurants. */}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
</head>
<body>
<ul>
{{range .}}
    {{.Name}} - {{.Type}}
    {{range .Meals}}
        {{.Time}}
        {{range .Menu}}
            {{.Course}} - {{.Price}}
        {{end}}       
    {{end}}
{{end}}
 
</ul>
</body>
</html>