<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
<h3>{{.DoubleNum}}</h3>
<h3>{{.DoubleNum | .PipelineIt}}</h3>

</body>
</html>