--------------------------
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
{{$wisdom := .}}
<h1></h1>Bye, Felicia! Your {{$wisdom}}</h1>
</body>
</html>