<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h1>Flying around the world in {{.}} days!</h1>
{{/* wherever wwe run this we are giving current peice of data below */}}
<p>{{template "Airplane" .}}</p>
</body>
</html>